<!DOCTYPE html>
<html
	lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<title>Scheduling Login</title>
<meta charset="UTF-8">
<link
	rel="stylesheet"
	th:href="@{/assets/css/utils.css}"
>
<link
	rel="stylesheet"
	th:href="@{/assets/css/login.css}"
>

<link
	rel="icon"
	type="image/png"
	th:href="@{/images/gardnerLogo.png}"
>
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form
					th:action="@{/login}"
					method="POST"
					class="login100-form validate-form"
				>
					<span
						class="login100-form-title p-b-34"
						style="color: black"
					> Account Login </span>

					<div
						class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
						data-validate="Type user name"
					>
						<input
							id="first-name"
							class="input100"
							type="text"
							name="username"
							placeholder="User name"
						> <span class="focus-input100"></span>
					</div>
					<div
						class="wrap-input100 rs2-wrap-input100 validate-input m-b-20"
						data-validate="Type password"
					>
						<input
							class="input100"
							type="password"
							name="password"
							placeholder="Password"
						> <span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<input
							type="submit"
							class="login100-form-btn"
							value="SIGN IN"
						/>
					</div>
					<div
						th:if="${param.error}"
						style="width: 100%; text-align: center;"
					>
						<p style="color: red; font-size: 15px;">Invalid username or
							password</p>
					</div>

					<div class="padding_bottom">
						
					</div>
				</form>

				<div class="login100-more gardner"></div>

			</div>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

</body>
</html>
