.container_info{
padding-top:10px;
}
.dataTables_filter{
 display:inline;
 float:right;
}

@media only screen and (max-width: 500px) {
 .dataTables_filter{
   float:left;
   margin-top:10px;
 }
}

.btn-group a{
 border:1px solid black;
}

.buttons-copy{

}

.th_end{
	width:5px;
}

.modal{
  text-align: center;
}
.modal-content{
  margin-top: 200px;
}
.modal-footer{
  display: inline-block;
 text-align: center;
 vertical-align: middle;
}
body { padding-right: 0 !important;}

.aButton{
	width: 100%; 
}
.fa-pencil{
	color:white;
}
.fa-trash{
	color:white;
}
.buttons-csv{

}

.buttons-excel{

}
.buttons-pdf{

}
.buttons-print{

}
