.container_info{
padding-top:10px;
}
.dataTables_filter{
 display:inline;
 float:right;
}


@media only screen and (max-width: 500px) {
 .dataTables_filter{
   float:left;
   margin-top:10px;
 }
}
.th_end{
	width:5px;
}

.modal{
  text-align: center;
}
.modal-content{
  margin-top: 200px;
}
.modal-footer{
  display: inline-block;
 text-align: center;
 vertical-align: middle;
}
body { padding-right: 0 !important;}

.aButton{
	width: 100%; 
}
.fa-pencil{
	color:white;
}
.fa-trash{
	color:white;
}

.btn-group{

}

.buttons-csv{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px !important;
}

.buttons-excel{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px !important;
}
.buttons-pdf{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px !important;
}
.buttons-print{
    padding-right: 20px;
    padding-left: 20px;
}

.btn{
	color:white;
}
