 body{
       	background-color: transparent;
        
      }
.container_info{
    
 background-color:white;
 padding-top:10px;
 margin-left:20px;
 margin-right:20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top:30PX;
 height:50%;
}
      
 
.error{
	color:red;
}

.dataTables_filter{
	display:inline;
	float:right;
}

.buttons-csv{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px !important;
}

.buttons-excel{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px !important;
}
.buttons-pdf{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px !important;
}
.buttons-print{
    padding-right: 20px;
    padding-left: 20px;
}

      